![Alt text: Slogan da Meteora.](https://i.imgur.com/VDYh2G1.png)

# 1. Estruturando a tabela

**Meteora** é uma loja que vende roupas e acessórios de diversas marcas por todos os estados do Brasil, para entender suas bases de dados e exibir informações relevantes com o objetivo de auxiliar suas tomadas de decisão.

**Sobre as tabelas**

* itens_pedidos: tabela que informa sobre o que foi vendido, vai ter informação o preço, quantidade, para onde vai ser enviado e o frete do pedido
* pedidos: vai falar sobre a venda feita, tendo informação sobre os vendedores, preço do pedido e a data da venda
* produtos: informa características dos produtos que são comercializados na loja
* vendedores: informa o nome dos vendedores.

In [33]:
url_itens_pedidos = 'https://github.com/alura-cursos/SQL-python-integracao/raw/main/TABELAS/itens_pedidos.csv'
url_pedidos = 'https://github.com/alura-cursos/SQL-python-integracao/raw/main/TABELAS/pedidos.csv'
url_produto = 'https://github.com/alura-cursos/SQL-python-integracao/raw/main/TABELAS/produtos.csv'
url_vendedores = 'https://github.com/alura-cursos/SQL-python-integracao/raw/main/TABELAS/vendedores.csv'

In [34]:
%pip install mariadb SQLAlchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mariadb in c:\users\francis\appdata\roaming\python\python311\site-packages (1.1.9)
Requirement already satisfied: SQLAlchemy in c:\programdata\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from mariadb) (23.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from SQLAlchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

# 2. Primeiras consultas

Vamos entender a característica do produto que é comercializadora na Meteora, analisando a **condição** dos produtos vendidos.

A função create_engine serve para criar um objeto de conexão de banco de dados e o inspectserve para inspecionar o banco de dados e obter informações sobre suas tabelas, colunas, chaves primárias, tipos de dados, etc.

A função create_engine tem o papel fundamental na criação de uma conexão com o banco de dados, fornecendo a configuração adequada para a interação com o banco de dados, fornecendo a configuração adequada para a interação com o SGBD, sendo apenas necessário receber uma URL de conexão como argumento. Já o inspect vai obter informações sobre a estrutura do banco de dados.

In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import urllib.parse
import sqlalchemy
from sqlalchemy  import  create_engine, inspect, MetaData, Table, Column, Integer, String, DateTime, Float, ForeignKey, MetaData, text

In [36]:
itens_pedidos = pd.read_csv(url_itens_pedidos)
pedidos = pd.read_csv(url_pedidos)
produtos = pd.read_csv(url_produto)
vendedores = pd.read_csv(url_vendedores)

In [37]:
# Codificar a senha
senha_codificada = urllib.parse.quote("root")

# Criar a URL de conexão
url_conexao = f"mariadb+mariadbconnector://root:{senha_codificada}@127.0.0.1:3306/meteora?createDatabaseIfNotExists=true"

# Criar o objeto da engine
engine = create_engine(url_conexao)

In [38]:


produtos.to_sql('produtos',engine,index=False)
itens_pedidos.to_sql('itens_pedidos', engine, index=False)
pedidos.to_sql('pedidos', engine, index=False)
vendedores.to_sql('vendedores', engine, index=False)

inspector = inspect(engine)
print(inspector.get_table_names())

['itens_pedidos', 'pedidos', 'produtos', 'vendedores']

Agora precisamos ranquear os produtos que mais foram pedidos por **quantidade** para entender a necessidade de um estoque de produtos na loja.

In [42]:
query = 'SELECT * FROM PRODUTOS'
with engine.connect() as conexao:
  consulta = conexao.execute(text(query))
  dados = consulta.fetchall()
  
pd.DataFrame(dados,columns=consulta.keys())

,produto_id,produto,preco,marca,sku,Condicao
0,21244,Oculos Lente Azulada,1120,D&g Dolce & Gabbana,209297,Usado
1,9981,Bolsa Coral Saco,4000,Givenchy,278612,Usado
2,84176,Camisa Xadrez Verde,310,Joe Fresh,322482,Usado
3,47475,Calca Alfaiataria Preta,490,Mixed,263658,Usado
4,74864,Vestido Jeans Babados,130,Zara,219248,Usado
...,...,...,...,...,...,...
200,14074,Camisa Amarela Laco,450,Carol Bassi,309858,Usado
201,33349,Vestido Listras Malha,270,Calvin Klein,307118,Usado
202,22568,Casaqueto Estampa Geometrica,245,Zara,244931,Usado
203,40508,Regata Bicolor Alcinha,245,Express,247166,Usado
204,41518,Calca Jeans Basica,260,Banana Republic,255410,Novo com etiqueta

In [43]:
def sql_df(query):
  with engine.connect() as conexao:
    consulta = conexao.execute(text(query))
    dados = consulta.fetchall()
  return pd.DataFrame(dados,columns=consulta.keys())

In [45]:
query = '''SELECT CONDICAO, COUNT(*) AS 'Quantidade'
FROM PRODUTOS 
GROUP BY CONDICAO;'''
df_produtos = sql_df(query)
df_produtos

            CONDICAO  Quantidade
0  Novo com etiqueta          22
1  Novo sem etiqueta           7
2              Usado         176

In [ ]:
plt.bar(df_produtos['CONDICAO'],df_produtos['Quantidade'], color='#9353FF')
plt.title('Contagem por tipo de condições dos produtos')
plt.show()

In [ ]:
sql_df ('SELECT * FROM PRODUTOS').head(3)
sql_df ('SELECT * FROM ITENS_PEDIDOS').head(3)

In [51]:
# Agora que já temos uma relação entre as tabelas, podemos inserir os produtos com mais demanda em um ranking.
query = '''SELECT PRODUTOS.PRODUTO, SUM(ITENS_PEDIDOS.QUANTIDADE) AS Quantidade
FROM ITENS_PEDIDOS, PRODUTOS
WHERE ITENS_PEDIDOS.PRODUTO_ID = PRODUTOS.PRODUTO_ID
GROUP BY PRODUTOS.PRODUTO'''

sql_df(query)

                        PRODUTO Quantidade
0              Bata Pink Decote        459
1       Bermuda Acetinada Preta        363
2         Bermuda Jeans Lavagem        395
3        Bermuda Listras Bolsos        402
4    Blazer Alfaiataria Grafite        433
..                          ...        ...
196         Vestido Seda Floral        428
197      Vestido Textura Branco        470
198       Vestido Verde Estampa        423
199           Vestido Xadrez Pb        384
200         Vestido Ziper Fendi        374

[201 rows x 2 columns]

In [55]:
query = '''SELECT PRODUTOS.PRODUTO, SUM(ITENS_PEDIDOS.QUANTIDADE) AS Quantidade
FROM ITENS_PEDIDOS, PRODUTOS
WHERE ITENS_PEDIDOS.PRODUTO_ID = PRODUTOS.PRODUTO_ID
GROUP BY PRODUTOS.PRODUTO
LIMIT 5 OFFSET 5;
'''
sql_df(query)

                       PRODUTO Quantidade
0  Blazer Cinza E Azul Marinho        457
1            Blazer Nude Botao        485
2           Blusa Babados Cats        413
3      Blusa Babados Off-white        337
4                  Blusa Cinza        341

# 3. Lidando com filtro

Vamos iniciar uma análise de desempenho do **time de vendedores** da Meteora. A intenção aqui é entender como se deram as vendas dos vendedores no **ano anterior** para que possam ser aplicadas promoções e bônus salarial para a equipe no ano atual da tabela que é 2021

Para entender o desempenho de vendas dos vendedores no ano de 2020, é preciso trabalhar com os dados que estão presentes apenas no ano de 2020.

# 4. Avançando nas relações

A Meteora agora deseja incrementar as suas vendas no **estado de São Paulo (SP)**, por acreditar ser uma região mais propícia às vendas já que tem uma boa concentração de pessoas e mercado também.

Mas será que São Paulo já não rende muitas vendas em relação a outros estados?

Uma das ações que a Meteora pretende seguir para as vendas em SP é escolher dois de seus vendedores para que eles **foquem suas vendas** lá. Para essa escolha é interessante ter os profissionais que **mais tenham vendido** para as pessoas da região.