![Alt text: Slogan da Meteora.](https://i.imgur.com/VDYh2G1.png)

# 1. Estruturando a tabela

**Meteora** é uma loja que vende roupas e acessórios de diversas marcas por todos os estados do Brasil, para entender suas bases de dados e exibir informações relevantes com o objetivo de auxiliar suas tomadas de decisão.

**Sobre as tabelas**

* itens_pedidos: tabela que informa sobre o que foi vendido, vai ter informação o preço, quantidade, para onde vai ser enviado e o frete do pedido
* pedidos: vai falar sobre a venda feita, tendo informação sobre os vendedores, preço do pedido e a data da venda
* produtos: informa características dos produtos que são comercializados na loja
* vendedores: informa o nome dos vendedores.

In [2]:
url_itens_pedidos = 'https://github.com/alura-cursos/SQL-python-integracao/raw/main/TABELAS/itens_pedidos.csv'
url_pedidos = 'https://github.com/alura-cursos/SQL-python-integracao/raw/main/TABELAS/pedidos.csv'
url_produto = 'https://github.com/alura-cursos/SQL-python-integracao/raw/main/TABELAS/produtos.csv'
url_vendedores = 'https://github.com/alura-cursos/SQL-python-integracao/raw/main/TABELAS/vendedores.csv'

In [3]:
%pip install mariadb SQLAlchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mariadb in c:\users\francis\appdata\roaming\python\python311\site-packages (1.1.9)
Requirement already satisfied: SQLAlchemy in c:\programdata\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from mariadb) (23.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from SQLAlchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

# 2. Primeiras consultas

Vamos entender a característica do produto que é comercializadora na Meteora, analisando a **condição** dos produtos vendidos.

A função create_engine serve para criar um objeto de conexão de banco de dados e o inspectserve para inspecionar o banco de dados e obter informações sobre suas tabelas, colunas, chaves primárias, tipos de dados, etc.

A função create_engine tem o papel fundamental na criação de uma conexão com o banco de dados, fornecendo a configuração adequada para a interação com o banco de dados, fornecendo a configuração adequada para a interação com o SGBD, sendo apenas necessário receber uma URL de conexão como argumento. Já o inspect vai obter informações sobre a estrutura do banco de dados.

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import urllib.parse
import sqlalchemy
from sqlalchemy  import  create_engine, inspect, MetaData, Table, Column, Integer, String, DateTime, Float, ForeignKey, MetaData, text

In [5]:
itens_pedidos = pd.read_csv(url_itens_pedidos)
pedidos = pd.read_csv(url_pedidos)
produtos = pd.read_csv(url_produto)
vendedores = pd.read_csv(url_vendedores)

In [6]:
# Codificar a senha
senha_codificada = urllib.parse.quote("root")

# Criar a URL de conexão
url_conexao = f"mariadb+mariadbconnector://root:{senha_codificada}@127.0.0.1:3306/meteora?createDatabaseIfNotExists=true"

# Criar o objeto da engine
engine = create_engine(url_conexao)

In [7]:


produtos.to_sql('produtos',engine,index=False)
itens_pedidos.to_sql('itens_pedidos', engine, index=False)
pedidos.to_sql('pedidos', engine, index=False)
vendedores.to_sql('vendedores', engine, index=False)

inspector = inspect(engine)
print(inspector.get_table_names())

ValueError: Table 'produtos' already exists.

Agora precisamos ranquear os produtos que mais foram pedidos por **quantidade** para entender a necessidade de um estoque de produtos na loja.

In [ ]:
query = 'SELECT * FROM PRODUTOS'
with engine.connect() as conexao:
  consulta = conexao.execute(text(query))
  dados = consulta.fetchall()
  
pd.DataFrame(dados,columns=consulta.keys())

In [10]:
def sql_df(query):
  with engine.connect() as conexao:
    consulta = conexao.execute(text(query))
    dados = consulta.fetchall()
  return pd.DataFrame(dados,columns=consulta.keys())

In [ ]:
query = '''SELECT CONDICAO, COUNT(*) AS 'Quantidade'
FROM PRODUTOS 
GROUP BY CONDICAO;'''
df_produtos = sql_df(query)
df_produtos

In [ ]:
plt.bar(df_produtos['CONDICAO'],df_produtos['Quantidade'], color='#9353FF')
plt.title('Contagem por tipo de condições dos produtos')
plt.show()

In [ ]:
sql_df ('SELECT * FROM PRODUTOS').head(3)
sql_df ('SELECT * FROM ITENS_PEDIDOS').head(3)

In [ ]:
# Agora que já temos uma relação entre as tabelas, podemos inserir os produtos com mais demanda em um ranking.
query = '''SELECT PRODUTOS.PRODUTO, SUM(ITENS_PEDIDOS.QUANTIDADE) AS Quantidade
FROM ITENS_PEDIDOS, PRODUTOS
WHERE ITENS_PEDIDOS.PRODUTO_ID = PRODUTOS.PRODUTO_ID
GROUP BY PRODUTOS.PRODUTO'''

sql_df(query)

In [ ]:
query = '''SELECT PRODUTOS.PRODUTO, SUM(ITENS_PEDIDOS.QUANTIDADE) AS Quantidade
FROM ITENS_PEDIDOS, PRODUTOS
WHERE ITENS_PEDIDOS.PRODUTO_ID = PRODUTOS.PRODUTO_ID
GROUP BY PRODUTOS.PRODUTO
ORDER BY Quantidade ASC;
'''
df_prod_quant = sql_df(query)
df_prod_quant

In [ ]:
plt.barh(df_prod_quant['PRODUTO'][-10:], df_prod_quant['Quantidade'][-10:], color='#9353FF')
plt.xlabel('Quantidade vendida')
plt.show()

In [ ]:
df_itens_pedidos = sql_df('SELECT valor_total FROM ITENS_PEDIDOS')
receita = df_itens_pedidos['valor_total'].sum()
 


query = '''SELECT SUM(valor_total) AS RECEITA
FROM ITENS_PEDIDOS;
'''
df_itens_pedidos = sql_df(query)
df_itens_pedidos

In [ ]:
query = '''SELECT produtos.marca, COUNT(*) Pedidos
FROM produtos, itens_pedidos
WHERE produtos.produto_id = itens_pedidos.produto_id
GROUP BY produtos.marca
ORDER BY COUNT(*) ASC;
'''
df_marcas = sql_df(query)

plt.barh(df_marcas['marca'][-15:], df_marcas['Pedidos'][-15:], color = '#9353FF')
plt.xlabel('Pedidos')
plt.show()

# 3. Lidando com filtro

Vamos iniciar uma análise de desempenho do **time de vendedores** da Meteora. A intenção aqui é entender como se deram as vendas dos vendedores no **ano anterior** para que possam ser aplicadas promoções e bônus salarial para a equipe no ano atual da tabela que é 2021

In [11]:
sql_df('SELECT * FROM PEDIDOS').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24527 entries, 0 to 24526
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pedido_id    24527 non-null  int64
 1   produto_id   24527 non-null  int64
 2   vendedor_id  24527 non-null  int64
 3   data_compra  24527 non-null  object
 4   total        24527 non-null  int64
dtypes: int64(4), object(1)
memory usage: 958.2+ KB

In [12]:
query = '''SELECT VENDEDORES.NOME_VENDEDOR, AVG(PEDIDOS.TOTAL) AS 'Valor médio por vendas'
FROM PEDIDOS, VENDEDORES
WHERE strftime('%Y',data_compra) = '2020' AND VENDEDORES.VENDEDOR_ID = PEDIDOS.VENDEDOR_ID
GROUP BY VENDEDORES.NOME_VENDEDOR
ORDER BY AVG(PEDIDOS.TOTAL) DESC;
'''
sql_df(query)

OperationalError: (mariadb.OperationalError) FUNCTION meteora.strftime does not exist
[SQL: SELECT VENDEDORES.NOME_VENDEDOR, AVG(PEDIDOS.TOTAL) AS 'Valor médio por vendas'
FROM PEDIDOS, VENDEDORES
WHERE strftime('%Y',data_compra) = '2020' AND VENDEDORES.VENDEDOR_ID = PEDIDOS.VENDEDOR_ID
GROUP BY VENDEDORES.NOME_VENDEDOR
ORDER BY AVG(PEDIDOS.TOTAL) DESC;
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [13]:
df_agrupados = itens_pedidos.groupby('Estado').size().reset_index(name='Pedidos')
df_estados = df_agrupados.sort_values('Pedidos', ascending=False).reset_index(drop=True)
df_estados

   Estado  Pedidos
0   BR-MA      974
1   BR-DF      953
2   BR-MT      937
3   BR-GO      933
4   BR-PA      932
5   BR-AL      928
6   BR-PE      927
7   BR-RO      925
8   BR-RR      925
9   BR-RN      921
10  BR-PI      919
11  BR-RJ      918
12  BR-PB      918
13  BR-RS      910
14  BR-MG      908
15  BR-SE      907
16  BR-PR      903
17  BR-TO      899
18  BR-ES      895
19  BR-BA      894
20  BR-SP      890
21  BR-SC      886
22  BR-CE      883
23  BR-AP      873
24  BR-MS      865
25  BR-AC      861
26  BR-AM      843

Para entender o desempenho de vendas dos vendedores no ano de 2020, é preciso trabalhar com os dados que estão presentes apenas no ano de 2020.

In [14]:
query = '''SELECT PEDIDOS.VENDEDOR_ID, COUNT(*) AS quantidade_vendas
FROM PEDIDOS
JOIN ITENS_PEDIDOS ON ITENS_PEDIDOS.PEDIDO_ID = PEDIDOS.PEDIDO_ID
WHERE ITENS_PEDIDOS.ESTADO = 'BR-SP'
GROUP BY PEDIDOS.VENDEDOR_ID
ORDER BY quantidade_vendas DESC;
'''
sql_df(query)

   VENDEDOR_ID  quantidade_vendas
0            2                190
1            5                182
2            3                181
3            1                180
4            4                157

In [15]:
query = '''SELECT PRODUTOS.PRODUTO, COUNT(*) AS produtos_pedidos
FROM ITENS_PEDIDOS
JOIN PRODUTOS ON ITENS_PEDIDOS.PRODUTO_ID = PRODUTOS.PRODUTO_ID
WHERE ITENS_PEDIDOS.ESTADO = 'BR-PI'
GROUP BY PRODUTOS.PRODUTO
ORDER BY produtos_pedidos DESC;
'''
df_prod_piaui = sql_df(query)
df_prod_piaui

                       PRODUTO  produtos_pedidos
0        Calca Jeans Off-white                12
1         Calca Jeans Costuras                11
2          Calca Costuras Bege                11
3             Bota Veludo Azul                10
4          Saia Roxa Estampada                10
..                         ...               ...
191        Cropped Escritas Pb                 1
192       Vestido Estampa Laco                 1
193  Vestido Off White Franjas                 1
194              Saia Fio Nude                 1
195       Vestido Branco Renda                 1

[196 rows x 2 columns]

# 4. Avançando nas relações

A Meteora agora deseja incrementar as suas vendas no **estado de São Paulo (SP)**, por acreditar ser uma região mais propícia às vendas já que tem uma boa concentração de pessoas e mercado também.

Mas será que São Paulo já não rende muitas vendas em relação a outros estados?

Uma das ações que a Meteora pretende seguir para as vendas em SP é escolher dois de seus vendedores para que eles **foquem suas vendas** lá. Para essa escolha é interessante ter os profissionais que **mais tenham vendido** para as pessoas da região.

In [16]:
query = '''SELECT VENDEDORES.NOME_VENDEDOR, COUNT(*) AS quantidade_vendas
FROM PEDIDOS
JOIN VENDEDORES ON VENDEDORES.VENDEDOR_ID = PEDIDOS.VENDEDOR_ID
JOIN ITENS_PEDIDOS ON ITENS_PEDIDOS.PEDIDO_ID = PEDIDOS.PEDIDO_ID
WHERE ITENS_PEDIDOS.ESTADO = 'BR-SP'
GROUP BY VENDEDORES.NOME_VENDEDOR
ORDER BY quantidade_vendas DESC;
'''
sql_df(query)

     NOME_VENDEDOR  quantidade_vendas
0  Daniel Siqueira                190
1    Paulo Calanca                182
2   Nadia Oliveira                181
3       Ana Duarte                180
4  Millena Pereira                157

In [17]:
df_unido = pedidos.merge(vendedores, on='vendedor_id').merge(itens_pedidos, on='pedido_id')
df_filtrado = df_unido.query("Estado == 'BR-SP'")
df_vendedores_sp = df_filtrado.groupby('nome_vendedor').size().reset_index(name='quantidade_vendas')
df_vendedores_sp = df_vendedores_sp.sort_values('quantidade_vendas', ascending=False)
df_vendedores_sp

     nome_vendedor  quantidade_vendas
1  Daniel Siqueira                190
4    Paulo Calanca                182
3   Nadia Oliveira                181
0       Ana Duarte                180
2  Millena Pereira                157